.cardDiv {
  border-radius: 12px;
  padding: 10px;
  display: grid;
  justify-items: center;
  width: 225px;
  text-align: center;
  gap: 15px;
  background-color: var(--product-image-div-bg);
  grid-template-rows: 200px 1fr min-content;
  align-items: start;
}

.imageDiv {
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 8px;
}

.middleDiv {
  display: grid;
  gap: 10px;
  justify-items: center;
}

.middleDiv > p {
  line-height: 1.3;
}

.price {
  font-weight: 500;
  color: var(--text-dark-green);
  font-size: 1.9rem;
}

.itemSelectionDiv {
  display: flex;
  align-items: center;
  gap: 6px;
}

.itemSelectionDiv > button {
  padding: 0 8px;
  font-size: 2rem;
  color: black;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: transparent;
}

.itemSelectionDiv > input {
  text-align: center;
  font-size: 1.7rem;
  width: 50px;
  padding: 3px 5px;
  border-radius: 5px;

  /* remove up/down arrows/spinners from number input in Firefox */
  -moz-appearance: textfield;
}

/* remove up/down arrows/spinners from number input in WebKit-based browsers (Chrome, Safari, Edge, Opera) */
.itemSelectionDiv > input::-webkit-outer-spin-button,
.itemSelectionDiv > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cardDiv > button {
  margin-top: 5px;
  padding: 8px 15px;
  border-radius: 12px;
  border: none;
  font-size: 1.5rem;
  background-color: var(--add-to-cart-bg-green);
  color: black;
  transition: transform 250ms;
}

@media (hover: hover) {
  .itemSelectionDiv > button:hover {
    background-color: lightgray;
  }

  .cardDiv > button:hover {
    transform: scale(1.15);
    box-shadow: 0 0 2px silver;
  }
}

.itemSelectionDiv > button:active {
  background-color: rgb(187, 187, 187);
}

.cardDiv > button:active {
  transform: scale(0.9);
}
