.cardDiv {
  border-radius: 12px;
  padding: 10px;
  display: grid;
  justify-items: center;
  width: 225px;
  text-align: center;
  gap: 8px;
  background-color: var(--product-image-div-bg);
}

.imageDiv {
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 8px;
}

.cardDiv > p {
  line-height: 1.3;
}

.itemSelectionDiv > input {
  text-align: center;

  /* remove up/down arrow/spinners from number input in Firefox */
  -moz-appearance: textfield;
}

/* remove up/down arrow/spinners from number input in WebKit-based browsers (Chrome, Safari, Edge, Opera) */
.itemSelectionDiv > input::-webkit-outer-spin-button,
.itemSelectionDiv > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
