.cardDiv {
  border-radius: 12px;
  padding: 10px;
  display: grid;
  justify-items: center;
  width: 225px;
  text-align: center;
  gap: 8px;
  background-color: var(--product-image-div-bg);
}

.imageDiv {
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 8px;
}
