.emptyCartDiv {
  margin-top: 15px;
  display: grid;
  gap: 25px;
  justify-items: center;
  font-size: 2rem;
}

.emptyCartDiv > a {
  color: var(--text-dark-green);
}

.mainDiv {
  display: grid;
  justify-items: center;
  gap: 30px;
}

.cartDiv {
  display: grid;
  gap: 28px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 15px;
  width: min(650px, 90%);
  box-shadow: 0 0 8px lightgray;
}

.bottomDiv {
  display: grid;
  gap: 15px;
  justify-items: start;
  font-size: 1.9rem;
}

.bottomDiv > p {
  font-size: 2.2rem;
  line-height: 1.5;
}

.bottomDiv > p > span {
  font-weight: 500;
}

.bottomDiv > a {
  margin-top: 5px;
  color: var(--text-dark-green);
}

.bottomDiv > button {
  justify-self: center;
  padding: 12px 20px;
  border-radius: 25px;
  background-color: rgba(166, 225, 163, 0.3);
  border: 1.6px outset rgb(0, 128, 0, 0.3);
  color: rgba(16, 16, 16, 0.3);
}

@media (hover: hover) {
  .bottomDiv > button:hover {
    cursor: default;
  }
}
