.mainDiv {
  display: grid;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.h2 {
  font-size: 2rem;
  font-weight: 500;
}

.mainDiv > a {
  color: var(--text-dark-green);
  font-size: 2rem;
}
