.carouselDiv {
  position: relative;
}

.imagesDiv {
  display: flex;
  align-items: center;
  width: 500px;
  height: 420px;
  overflow: hidden;
  background-color: rgb(236, 237, 236);
  border-radius: 15px;
  box-shadow: 0 0 8px -4px rgb(194, 194, 194);
}

.indivImageDiv {
  height: 350px;
  width: 350px;
  flex-shrink: 0;
  margin: 25px 75px 45px 75px;
  display: grid;
  place-items: center;
}

.fadeIn1 {
  animation: fade-in-one 2000ms backwards;
}

.fadeIn2 {
  animation: fade-in-two 2000ms backwards;
}

.slideIn1 {
  animation: slide-in-one 1000ms backwards;
}

.slideIn2 {
  animation: slide-in-two 1000ms backwards;
}

.carouselDiv > button {
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: silver;
  color: black;
  opacity: 0.5;
}

.leftArrowBtn {
  left: 0;
  padding: 10px 3px 10px 0;
}

.rightArrowBtn {
  right: 0;
  padding: 10px 0 10px 3px;
}

.carouselDiv > button > img {
  width: 26px;
}

.carouselDiv > button:hover {
  opacity: 1;
}

.circlesDiv {
  position: absolute;
  display: flex;
  gap: 7px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10px);
}

.circleDiv {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid rgb(157, 157, 157);
}

.selected {
  background-color: rgb(157, 157, 157);
}

@keyframes fade-in-one {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-two {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-one {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-two {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
