.carouselDiv {
  position: relative;
}

.imagesDiv {
  display: flex;
  align-items: center;
  width: 500px;
  height: 420px;
  overflow: hidden;
  background-color: var(--product-image-div-bg);
  border-radius: 15px;
  box-shadow: 0 0 8px -4px rgb(194, 194, 194);
}

.indivImageDiv {
  height: 350px;
  width: 350px;
  flex-shrink: 0;
  margin: 25px 75px 45px 75px;
  display: grid;
  place-items: center;
  will-change: transform;
  position: relative;
}

.fadeIn1 {
  animation: fade-in-one 2000ms backwards;
}

.fadeIn2 {
  animation: fade-in-two 2000ms backwards;
}

.productInfoDiv {
  position: absolute;
  width: 110%;
  height: 105%;
  background: rgb(0 0 0 / 0.1);
  visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.visible {
  visibility: visible;
}

.productInfoDiv > p {
  width: 100%;
  background: rgb(255 255 255 / 0.9);
  text-align: left;
  padding: 10px 5px 10px 12px;
  font-size: 1.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.popUp {
  animation: pop-up 300ms ease-out;
}

.carouselDiv > button {
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: silver;
  color: black;
  opacity: 0.5;
}

.leftArrowBtn {
  left: 0;
  padding: 10px 3px 10px 0;
}

.rightArrowBtn {
  right: 0;
  padding: 10px 0 10px 3px;
}

.carouselDiv > button > img {
  width: 26px;
}

.carouselDiv > button:hover {
  opacity: 1;
}

.circlesDiv {
  position: absolute;
  display: flex;
  gap: 7px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10px);
}

.circleDiv {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid rgb(157, 157, 157);
}

@media (hover: hover) {
  .circleDiv:hover:not(.selected) {
    background: none;
  }
}

.selected {
  background-color: rgb(157, 157, 157);
}

@keyframes fade-in-one {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-two {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
