:root {
  --nav-bg-green: rgb(68, 143, 68);
  --text-tan: rgb(255, 220, 160);
  --text-dark-green: rgb(2, 86, 2);
  --product-image-div-bg: rgb(236, 237, 236);
  --add-to-cart-bg-green: rgb(169, 211, 169);
}
