.defaultButton {
  padding: 8px 15px;
  font-size: 1.5rem;
  color: black;
  border: none;
  border-radius: 12px;
  transition: transform 250ms;
  will-change: transform;
}

.primaryBg {
  background-color: var(--add-to-cart-bg-green);
}
