.loading {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 15px;
}

.loading > span {
  animation: fade-in 500ms backwards infinite alternate;
}

.loading > span:nth-child(1) {
  animation-delay: 0s;
}
.loading > span:nth-child(2) {
  animation-delay: 100ms;
}
.loading > span:nth-child(3) {
  animation-delay: 200ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
