nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px 10px 50px;
  display: flex;
  justify-content: space-between;
  gap: 35px;
  align-items: center;
  background-color: var(--nav-bg-green);
  color: var(--text-tan);
}

.logoDiv {
  display: flex;
  gap: 15px;
  align-items: center;
}

.logoDiv > a:hover {
  text-decoration: none;
}

.logoDiv img {
  width: 48px;
}

.logoDivName {
  font-style: italic;
  font-weight: bold;
  font-size: 2.6rem;
  color: var(--text-tan);
}

.links {
  display: flex;
  gap: 35px;
  font-size: 2rem;
  font-weight: 500;
}

.cartLink {
  display: flex;
  gap: 5px;
  align-items: center;
}

.cartLink > img {
  width: 24px;
}
